body {
  margin-top: 35px !important;
}

#form-width {
  max-width: 200px;
}

h2 {
  font-size: 10px;
}

#faculty, #keyword {
  padding-right: 20%;
}

#type-form {
  padding-top: 20px;
}

#wrapper {
  padding-top: 4%;
  width: 100%;
  padding-left: 45%;
}

.container {
  align-items: center;
}

.well {
  width: 60%;
}

#searchResultsPage {
  padding: 30px;
}